In [10]:
#Load the necessary packages
import pandas as pd
import numpy as np
from time import time
from IPython.display import display #allows use of display()

# Import supplementary visualization code visuals.py
import visuals as vs

#Load the data census.csv

data = pd.read_csv('census.csv')

#display top 5 rows of the data
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [2]:
#Total number of records
data.shape[0]

45222

In [3]:
#Number of indivisuals with income more than 50K dollars
data[data['income'] == '>50K'].shape[0]

11208

In [11]:
#Number of individuals with income less than 50K dollars
data[data['income'] == '<=50K'].shape[0]

34014

In [12]:
data.income = data.income.map({'<=50K' : 0 , '>50K' : 1})

In [13]:
data.income.value_counts()

0    34014
1    11208
Name: income, dtype: int64